
   h1 {
       color: green;
   }
   
   h2 {
        color:blueviolet;
    }
    p { 
        color: #0000ff;
      
    }
    small {
        color: rgb(89, 148, 57);
        
    }

    .post h2, .sm, h4 {
        color: rgb(154, 238, 18);
    }
    /* .sm {
        color: purple; */
    }


