.header-bg {
    background: url('images/header-background-01.png');
    background-repeat: no-repeat;
}

.mobile img{
    width: 100%;

}

.btn-primary {
    background: rgb(11, 158, 158);
    border: 1px solid rgb(11, 158, 158);
}

.btn-primary:hover {
    background: greenyellow;
    border: 1px solid yellow;
}
.btn-primary:active {
    background: green !important;
    border: 1px solid green !important;
    box-shadow: none;
}